body {
    background-color: lightgray;
}

.container{
    display: flex;
    width: 600px;
	margin:auto;
    margin-bottom: 80px;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
.BreatheCode{
	border-bottom: 1px;
	border-color: #edeeee;
	background: white;
	overflow: hidden;
	margin-bottom: 60px;
}

.BreatheCode > div{
	width: 600px;
	margin: auto;
}
.box > header {

    justify-content: space-between;
    padding-left: 4px;
    align-items: center;
    height: 40px;
    width: 500px;
    margin-inline: auto;
}

.post-title {
    float: left;
    padding-left: 10px;
}
.post-date {
    float: right;
    padding-right: 10px;
    color: gray;
}

.post-image > img {

    width: 600px;
    height: auto;
    margin-left: 0px;
}

.comments {
    padding-left: 10px;
    padding-right: 10px;
}

.box{
    height:400px;
    min-width:500px;
    float: left;
}

.box-one {
    background: white;
    border-width: 10px;
    border-color: black;
    margin: auto;
}

.box-two{
    background: white;
    border-width: 10px;
    border-color: black;
    margin: auto; 
}

.box-three{
    background: white;
    border-width: 10px;
    border-color: black;
    margin: auto; 
}